header {
    position: fixed;
    color: #fff;
    display: flex;
    padding: 2.5rem 3rem;
    gap: 3rem;
    z-index:1
}

header a {
    color: #fff;
}

nav {
    display: flex;
    gap: 2.3rem;
    text-transform: uppercase;
    align-items:center
}

nav a {
    text-decoration: none;
    font-size: .85rem;
    font-weight:700
}

.feature {
    position: relative;
    background-size: cover;
    background-position: center;
    height:100vh
}

html, body, h1, h2 {
    margin: 0;
    padding: 0;
    font-family:sans-serif
}

html {
    scroll-behavior:smooth
}

.image-section1 {
    background-image:url(./DesertWar.jpg);
    /* background-attachment: fixed; */
}
.image-section2 {
    background-image:url(./ArmyBattle1.jpg);
}

.post-meta {
    position: absolute;
    bottom: 200px;
    left: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap:.9rem
}

.post-meta__tagline {
    text-transform: uppercase;
    font-weight: 100;
    opacity: 1;
    font-size:1.2rem
}

.post-meta__heading {
    font-size: 2.5rem;
    text-transform:uppercase
}

.post-meta__order {
    margin-top: 1.2rem;
    display: inline-block;
    max-width: 229px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85rem;
    letter-spacing: .1rem;
    opacity: 0.5;
    color: #000000;
    border: 2px solid white;
    padding: 1rem 2rem;
    text-decoration:none;
    border-radius: 30px;
}

.post-meta__order:hover {
    background-color: #fff;
    color:#000
}

.hidden {
    display: none;
}

input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

footer {
    background: black;
    text-align: center;
    color: #555;
    padding: 40px
}
* {
    cursor: none;
}
.cursor {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    /* border: 1.5px solid white;*/
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after, .cursor::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
}

.cursor.click::before{
    animation: click 1s ease forwards;
    background-color: white;
}

.cursor::before {
    background-color: antiquewhite;
    /* transform: translate(-50%, -50%) scale(3); */
}

@keyframes click {
   0%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
   } 
   100%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(7)
   }
}